{{#if isAuthenticated}}
  <div>
  <h1 class="welcome">Medici</h1>
  <h3 class="welcome">Welcome back to Medici!</h3>
  <h5>{{#link-to "accounts.my-account"}}View your account{{/link-to}}</h5>
  <h5>{{#link-to "accounts.search-accounts"}}Connect with other users{{/link-to}}</h5>
</div>
{{/if}}

{{#unless isAuthenticated}}
<div>
  <h1 class="welcome">Medici</h1>
  <h2 class="welcome">Welcome to Medici</h2>
  <h3>Be a Patron of the Arts</h3>
  <p>Welcome to Medici, a platform dedicated to connecting content creators to their fans and supporters. To find donors for your work or artists worthy of your hard earned money, please {{#link-to "sign-up"}}create an account{{/link-to}} or {{#link-to "sign-in"}}sign in{{/link-to}}. If you have already done so and found your way to this page, click {{#link-to "accounts"}}here{{/link-to}} to view your account or find other users to interact with.</p>
</div>
{{/unless}}
