@import 'bootstrap';
@import 'bootstrap/theme';

body{
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
}

.psa{
  padding-top: 4px;
}

.navbar{
  font-family: 'Cinzel', serif;
}

.welcome{
  font-family: 'Marcellus SC', serif;
}
