{{input value=params.amt placeholder="How much bitcoin will you send?"}}
{{input value=params.description placeholder="Anything to say to the client?"}}


<button type="submit" class="btn btn-primary" {{ action "donate" account.id }}>
  Send Donation
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
