<h4>Find A user</h4>

{{input value=params.userName placeholder="User Name"}}

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Find Account
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>

{{yield}}
