<h6>Update account</h6>

{{input value=params.user_name placeholder="Update Username"}}

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Update Account
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>

{{yield}}
