{{input value=params.userName placeholder="Update Username"}}

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Submit
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
