<h4>view-account component</h4>

<p>User Name: {{account.user_name}}</p>
<p>Are they a creator?: {{account.creator}}</p>
<p>Account ID: {{account.id}}</p>

{{accounts/donate-form donate="donate"}}

{{#link-to 'donate'}}Donate to this user{{/link-to}}
