<h1>Welcome to Medici</h1>
<h3>Be a Patron of the Arts</h3>

<h5>{{#link-to 'accounts.my-account'}}View my Account{{/link-to}}</h5>
<h5>{{#link-to 'accounts.search-accounts'}}Find other users{{/link-to}}</h5>

{{#if isAuthenticated}}
<p>test</p>
{{/if}}
