<h3>My Account</h3>

{{accounts/my-account account=model submit="updateAccount" delete="deleteAccount"}}

{{#link-to 'accounts'}}Back{{/link-to}}

{{#if isAuthenticated}}
<p>test</p>
{{/if}}

{{outlet}}
