{{outlet}}
{{#if isAuthenticated}}
  <h1>Medici</h1>
  <h3>Welcome back to Medici!</h3>
  <h5>{{#link-to "accounts.my-account"}}View your account{{/link-to}}</h5>
  <h5>{{#link-to "accounts.search-accounts"}}Find other users{{/link-to}}</h5>
{{/if}}

{{#unless isAuthenticated}}
  <h1>Medici</h1>
  <h3>Be a patron of the arts</h3>
  <p>Welcome to Medici, a platforme dedicated to connecting content creators to their fans and supporters. To find donors for your work or artists worthy of your hard earned money, please create an account or sign in. If you have already done so and found your way to this page, click {{#link-to "accounts"}}here{{/link-to}} to view your account or find other users to interact with.</p>
{{/unless}}
